.login {
    display: flex;
}

.item-login {

    &:not(:last-child) {
        // margin-left: 612px;
        margin-right: 39px;
    }
}
.item-login > a {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 13px 30px;
    border: 1px solid rgb(250, 250, 250);
    &:hover {
        border: 1px solid rgba(29, 37, 60, 0.2);
        border-radius: 4px;
        
    }
}
