$title-text-color: #1d253c;
$red_text_color: #f46752;
$primery_text_color: #5a6482;
$hover_text_color: #007188;
$link_text-color: #126f86;
$white_color: #fff;
$section_text_color: #acb4bf;
$bg_section_color: #f9f5f2;
$bg_section_color_two: #f8f8f8;
$bg_section_dark: #363839;
$bg_section_section-three: #e5f3fe;
$color_calculator: #7CAFDD;
$color_term: #E79751;
$color_pricing: #FA5240;
$color_insurance: #126F85;
$bg_calculator: rgba(169, 216, 255, 0.3);
$bg_term: rgba(255, 174, 104, 0.3);
$bg_pricing: rgba(250, 82, 64, 0.3);
$bg_incurance: rgba(18, 111, 133, 0.3);
$bg_get-started: #E5F3FE;

